<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                All Users
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Group</th>
                        <th>Control</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?php
                        if(is_array($data) && !empty($data)){
                            foreach ($data as $user) {
                                ?>
                                <tr>
                                    <td>
                                        <img src="../<?php echo $user['image'] ?>" alt="<?php echo $user['username'] ?>">
                                    </td>
                                    <td><?php echo $user['username'] ?></td>
                                    <td><?php echo $user['email'] ?></td>
                                    <td><?php echo $user['group_name'] ?></td>
                                    <td>
                                        <a href="updateuser.php?id=<?php echo $user['user_id']?>" class="btn btn-info"><i class="icon-refresh"></i> Edit</a>
                                        <button type="button" data-target="#deleteuser<?php echo $user['user_id'];?>" class="btn btn-danger delete-content"><i class="icon-trash"></i> Delete User</button>
                                            <div class="overlay" id="deleteuser<?php echo $user['user_id'];?>">
                                                <div class="card">
                                                    <form action="deleteuser.php" method="POST">
                                                        <p>
                                                            Do You Really Want to delete this User?
                                                        </p>
                                                        <input type="hidden" name="user" value="<?php echo $user['user_id']; ?>">
                                                        <input type="submit" value="Delete" class="btn btn-danger">
                                                        <input type="button" value="Cancel" class="btn cancel">
                                                    </form>
                                                </div>
                                            </div>
                                    </td>
                                </tr>
                                <?php
                            } 
                        } else {
                            ?>
                            <div class="alert alert-danger">
                                <p class="text-danger">
                                    No users registered yet
                                </p>
                            </div>
                            <?php
                        }
                        ?>
                    </tbody>
                </table>
                </section>
            </div>
        </section>
    </div>
</div>
<!-- page end-->