<div class="row">
    <?php
    foreach($data as $course){
    ?>
    <div class="col-md-6">
        <section class="panel">
            <div class="panel-body" style="display: flex; align-items: center;">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="../<?php echo $course['course_cover'];?>" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="course.php?id=<?php echo $course['course_id'];?>">
                        <h4 class="pro-d-title text-primary">
                            <?php echo $course['course_title'];?>
                        </h4>
                </a>
                    <div class="product_meta">
                        <span class="posted_in"> <strong>Category:</strong> <?php echo $course['category_name'];?></span>
                    </div>
                    <div class="m-bot15"> <strong>Price : </strong><span class="pro-price">$<?php echo $course['course_price'];?></span></div>
                    <div>
                        <a href="updatecourse.php?id=<?php echo $course['course_id'];?>" class="btn btn-block btn-info"><i class="icon-refresh"></i> Edit Course</a>
                        <button type="button" data-target="#deletecourse<?php echo $course['course_id'];?>" class="btn btn-block btn-danger delete-content"><i class="icon-trash"></i> Delete Course</button>
                        <div class="overlay" id="deletecourse<?php echo $course['course_id'];?>">
                            <div class="card">
                                <form action="deletecourse.php" method="POST">
                                    <p>
                                        Do You Really Want to delete this Course?
                                    </p>
                                    <input type="hidden" name="course" value="<?php echo $course['course_id']; ?>">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <input type="button" value="Cancel" class="btn cancel">
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <?php 
    }
    ?>
</div>