<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add New User Group
            </header>
            <div class="panel-body">
                <form role="form" action="addusergroup.php" method="POST">
                    <div class="form-group">
                        <label for="group">Group Name</label>
                        <input type="text" class="form-control" name="group"placeholder="Enter Group Name">
                    </div>
                    
                    <input type="submit" class="btn btn-success" value="Add Group">
                </form>
            </div>
        </section>
    </div>
</div>