<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                All Categories
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Category</th>
                        <th>Created By</th>
                        <th>Control</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($data as $cat) {
                            echo '
                            <tr>
                                <td>'. $cat['category_id'] .'</td>
                                <td>'. $cat['category_name'] .'</td>
                                <td>'. $cat['username'] .'</td>
                                <td>
                                    <a href="updatecategory.php?id='.$cat['category_id'].'" class="btn btn-info"><i class="icon-refresh"></i> Edit</a>
                                    <a href="deletecategory.php?id='.$cat['category_id'].'" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
                                </td>
                            </tr>
                            ';
                        } 
                        ?>
                    </tbody>
                </table>
                </section>
            </div>
        </section>
    </div>
</div>
<!-- page end-->